<div id="<%= dom_id repository %>" class="">
  <p>
    <strong>Repository Name:</strong>
    <%= link_to repository.name, repository %>
  </p>

  <p>
    <strong>Owner Name:</strong>
    <%= repository.user.full_name %>
  </p>

</div>

<% if params[:id].present? %>
  <br/>
  <strong>Description:</strong>
  <div><%= repository.description%></div>

  <br/>
  <h3>Users in this repository:</h3>
  <% repository.users.each do |user| %>
    <%= render user, show_remove: :true%>
    <hr/>
  <% end %>
<% end %>

