<p style="color: green"><%= notice %></p>

<h1>Repositories</h1>

<%= form_with url: root_path, method: :get, local: true do |f| %>
  <%= f.text_field :keyword, value: @keyword %>
  <%= f.submit "Search" %>
<% end %>

<div id="repositories">
  <% @repositories.each do |repository| %>
    <%= render repository %>
    <p>
      <%= link_to "Show this repository", repository %>
    </p>
  <% end %>
</div>

<%= link_to "New repository", new_repository_path %>


