<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>
  <% if show_remove == :true%>
    <%= button_to "Remove", remove_user_repository_path(params[:id],user.id), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete %>
  <% end %>

</div>
